body {
  background: #f2f8fb; }

h2 {
  font-size: 45px;
  color: #ffc201;
  display: block;
  line-height: 120px;
  text-align: center;
  margin: 0; }

h2 span {
  color: #46d7af; }

/* SCSS for watch */
.main_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%; }
  .main_wrapper h1 {
    text-align: center;
    text-transform: uppercase; }
  .main_wrapper .watch_wrapper {
    position: relative; }
    .main_wrapper .watch_wrapper .watch_glass_wrap {
      background-color: #b12724;
      margin: 0 20px;
      padding: 10px 0 0 10px;
      width: 160px;
      height: 160px;
      border: 1px solid #b12724;
      border-radius: 50%;
      box-shadow: inset 0 0 3px #b12724;
      position: relative;
      z-index: 1; }
      .main_wrapper .watch_wrapper .watch_glass_wrap:after {
        content: " ";
        display: block;
        width: 7px;
        height: 15px;
        position: absolute;
        right: -9px;
        top: 77px;
        z-index: -9;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #b12724;
        background-color: #b12724; }
      .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container {
        background: #b12724;
        width: 150px;
        height: 150px;
        border: 1px solid #b12724;
        border-radius: 80px;
        position: relative;
        color: #faf7f2; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container div {
          position: absolute;
          font-size: 14px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .one {
          top: 11px;
          left: 104px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .two {
          top: 33px;
          left: 128px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .three {
          top: 66px;
          left: 137px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .four {
          top: 97px;
          left: 130px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .five {
          top: 122px;
          left: 108px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .six {
          top: 133px;
          left: 71px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .seven {
          top: 125px;
          left: 39px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .eight {
          top: 99px;
          left: 16px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .nine {
          top: 67px;
          left: 7px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .ten {
          top: 39px;
          left: 9px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .elevan {
          top: 14px;
          left: 29px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .twelve {
          top: 3px;
          left: 65px; }
        .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info {
          background: #b12724;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          border: 1px solid #b12724;
          top: 20px;
          left: 20px; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info div {
            top: 55px;
            left: 55px; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .brand {
            top: 6px;
            left: 42px;
            font-variant: small-caps;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: .2px; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .description {
            left: 26px;
            font-variant: small-caps;
            font-size: 9px;
            top: 90px;
            margin-left: 4px;
            transform: none; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .origin {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #faf7f2;
            *zoom: 1;
            left: 52px;
            top: 52px; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .hour,
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .minutes {
            background: #faf7f2;
            width: 45px;
            height: 2px;
            border: 1px solid #faf7f2;
            border-radius: 80%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform-origin: 0% 50%;
            transform: rotate(-45deg);
            -webkit-animation: hours 43200s infinite linear;
            -moz-animation: hours 43200s infinite linear;
            -ms-animation: hours 43200s infinite linear;
            -o-animation: hours 43200s infinite linear;
            animation: hours 43200s infinite linear; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .second {
            background: #faf7f2;
            width: 45px;
            height: 2px;
            border: 1px solid #faf7f2;
            box-shadow: 0 0 1px #faf7f2;
            border-radius: 80%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform-origin: 0% 50%;
            transform: rotate(-45deg);
            width: 65px;
            height: 0;
            border-bottom: none;
            -webkit-animation: seconds 60s infinite linear;
            -moz-animation: seconds 60s infinite linear;
            -ms-animation: seconds 60s infinite linear;
            -o-animation: seconds 60s infinite linear;
            animation: seconds 60s infinite linear; }
          .main_wrapper .watch_wrapper .watch_glass_wrap .main_glass_container .watch_info .minutes {
            width: 65px;
            height: 1px;
            -webkit-animation: minutes 3600s infinite linear;
            -moz-animation: minutes 3600s infinite linear;
            -ms-animation: minutes 3600s infinite linear;
            -o-animation: minutes 3600s infinite linear;
            animation: minutes 3600s infinite linear; }
    .main_wrapper .watch_wrapper .grip {
      position: absolute;
      border: 1px solid #e0b38a;
      width: 8px;
      height: 30px;
      background: rgba(224, 179, 138, 0.4); }
      .main_wrapper .watch_wrapper .grip.top_left_grip {
        top: -9px;
        left: 55px;
        border-radius: 8px 4px 0 0;
        border-left: none;
        box-shadow: inset 0 1px 0px #e0b38a, inset 0 2px 0 #e0b38a, inset 0 -6px 3px #e0b38a; }
      .main_wrapper .watch_wrapper .grip.top_right_grip {
        top: -9px;
        left: 149px;
        border-radius: 4px 8px 0 0;
        border-right: none;
        box-shadow: inset 0 1px 0 #e0b38a, inset 0 2px 0 white, inset 0 -6px 3px #e0b38a; }
      .main_wrapper .watch_wrapper .grip.bottom_left_grip {
        top: 151px;
        left: 55px;
        border-radius: 0 0 4px 8px;
        border-left: none;
        box-shadow: inset 0 -1px 0px #e0b38a, inset 0 -2px 0 white, inset 0 6px 3px #e0b38a; }
      .main_wrapper .watch_wrapper .grip.bottom_right_grip {
        top: 150px;
        left: 150px;
        border-radius: 0 0 8px 4px;
        border-left: none;
        box-shadow: inset 0 -1px 0px #e0b38a, inset 0 -2px 0 white, inset 0 6px 3px #e0b38a; }
    .main_wrapper .watch_wrapper .strap {
      background-color: #d12f24;
      background-size: 20px 20px;
      width: 87px;
      height: 200px;
      position: absolute; }
      .main_wrapper .watch_wrapper .strap.top_strap {
        top: -128px;
        left: 63px;
        border-radius: 10px; }
      .main_wrapper .watch_wrapper .strap.bottom_strap {
        top: 100px;
        left: 63px;
        border-radius: 10px; }
    .main_wrapper .watch_wrapper.watch1 .watch_glass_wrap .main_glass_container .watch_info .hour,
    .main_wrapper .watch_wrapper.watch1 .watch_glass_wrap .main_glass_container .watch_info .minutes {
      border-radius: 0; }
    .main_wrapper .watch_wrapper.watch1 .watch_glass_wrap .main_glass_container .watch_info .second {
      border-radius: 0; }
    .main_wrapper .watch_wrapper.watch2 .strap {
      background-color: #4f5055; }
    .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap {
      background-color: #2d2d33;
      border: 1px solid #2d2d33;
      box-shadow: inset 0 0 3px #2d2d33; }
      .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap:after {
        border: 1px solid #4f5055;
        background-color: #4f5055; }
      .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container {
        background: #171619;
        border: 1px solid #171619;
        color: #eaeaec; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .one {
          top: 11px;
          left: 104px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .two {
          top: 33px;
          left: 124px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .three {
          top: 64px;
          left: 132px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .four {
          top: 97px;
          left: 126px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .five {
          top: 121px;
          left: 108px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .six {
          top: 133px;
          left: 68px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .seven {
          top: 122px;
          left: 32px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .eight {
          top: 99px;
          left: 13px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .nine {
          top: 67px;
          left: 7px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .ten {
          top: 38px;
          left: 15px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .elevan {
          top: 15px;
          left: 33px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .twelve {
          top: 3px;
          left: 65px; }
        .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .watch_info {
          background: #171619;
          border: 1px solid #171619; }
          .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .watch_info .origin {
            background: #eaeaec; }
          .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .watch_info .hour,
          .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .watch_info .minutes {
            background: #eaeaec;
            border: 1px solid #eaeaec;
            border-radius: 0; }
          .main_wrapper .watch_wrapper.watch2 .watch_glass_wrap .main_glass_container .watch_info .second {
            background: #eaeaec;
            border: 1px solid #eaeaec;
            box-shadow: 0 0 1px #eaeaec;
            border-radius: 0; }
    .main_wrapper .watch_wrapper.watch3 .strap {
      background-color: #8c5630; }
    .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap {
      background-color: #2d2d33;
      border: 1px solid #2d2d33;
      box-shadow: inset 0 0 3px #2d2d33; }
      .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap:after {
        border: 1px solid #2d2d33;
        background-color: #2d2d33; }
      .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container {
        background: #4c4f56;
        border: 1px solid #636465;
        color: #c1c1c1; }
        .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .three {
          top: 64px;
          left: 132px; }
        .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .six {
          top: 133px;
          left: 67px; }
        .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .nine {
          top: 67px;
          left: 7px;
          z-index: 1; }
        .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .twelve {
          top: 3px;
          left: 65px; }
        .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .watch_info {
          background: #4c4f56;
          border: 1px solid #4c4f56; }
          .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .watch_info .origin {
            background: #c1c1c1; }
          .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .watch_info .hour,
          .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .watch_info .minutes {
            background: #111119;
            border: 1px solid #111119; }
          .main_wrapper .watch_wrapper.watch3 .watch_glass_wrap .main_glass_container .watch_info .second {
            background: #c1c1c1;
            border: 1px solid #c1c1c1;
            box-shadow: 0 0 1px #c1c1c1; }
    .main_wrapper .watch_wrapper.watch4 {
      margin-right: 0; }
      .main_wrapper .watch_wrapper.watch4 .strap {
        background:  linear-gradient(90deg, #0b0e2d 10px, transparent 10px), linear-gradient(rgba(29, 29, 29, 0) 25%, #f1f1f1 25%, #f0f0f1 50%, transparent 50%, transparent 75%, #009688 75%, #009688);
        background-color: #E91E63;
        background-size: 20px 20px; }
      .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap {
        background-color: #ffffff;
        background-image: -moz-linear-gradient(top, rgba(234, 147, 68, 0.27) 0%, rgba(224, 179, 138, 0.23) 17%, rgba(224, 179, 138, 0.57) 50%, rgba(224, 179, 138, 0.29) 51%, rgba(224, 179, 138, 0.56) 59%, rgba(224, 179, 138, 0.59) 71%, rgba(224, 179, 138, 0.62) 84%, rgba(224, 179, 138, 0.34) 100%);
        background-image: -webkit-linear-gradient(top, rgba(234, 147, 68, 0.27) 0%, rgba(224, 179, 138, 0.23) 17%, rgba(224, 179, 138, 0.57) 50%, rgba(224, 179, 138, 0.29) 51%, rgba(224, 179, 138, 0.56) 59%, rgba(224, 179, 138, 0.59) 71%, rgba(224, 179, 138, 0.62) 84%, rgba(224, 179, 138, 0.34) 100%);
        border: 1px solid #e0b38a;
        box-shadow: inset 0 0 3px #e0b38a; }
        .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap:after {
          border: 1px solid #e0b38a;
          background-color: rgba(224, 179, 138, 0.57); }
        .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container {
          background: #fff;
          border: 1px solid #e0b38a;
          color: #444; }
          .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container .watch_info {
            background: #ffffff;
            border: 1px solid #e0b38a; }
            .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container .watch_info .origin {
              background: #e0b38a; }
            .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container .watch_info .hour,
            .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container .watch_info .minutes {
              background: #e0b38a;
              border: 1px solid #e0b38a; }
            .main_wrapper .watch_wrapper.watch4 .watch_glass_wrap .main_glass_container .watch_info .second {
              background: #e0b38a;
              border: 1px solid #e0b38a;
              box-shadow: 0 0 1px #e0b38a; }

/* Animation functions */
@-webkit-keyframes seconds {
  0% {
    -webkit-transform: rotate(120deg); }
  to {
    -webkit-transform: rotate(480deg); } }
@-moz-keyframes seconds {
  0% {
    -moz-transform: rotate(120deg); }
  to {
    -moz-transform: rotate(480deg); } }
@-o-keyframes seconds {
  0% {
    -o-transform: rotate(120deg); }
  to {
    -o-transform: rotate(480deg); } }
@-ms-keyframes seconds {
  0% {
    -ms-transform: rotate(120deg); }
  to {
    -ms-transform: rotate(480deg); } }
@keyframes seconds {
  0% {
    transform: rotate(120deg); }
  to {
    transform: rotate(480deg); } }
/* Minutes animation */
@-webkit-keyframes minutes {
  0% {
    -webkit-transform: rotate(178deg); }
  to {
    -webkit-transform: rotate(538deg); } }
@-moz-keyframes minutes {
  0% {
    -moz-transform: rotate(178deg); }
  to {
    -moz-transform: rotate(538deg); } }
@-o-keyframes minutes {
  0% {
    -o-transform: rotate(178deg); }
  to {
    -o-transform: rotate(538deg); } }
@-ms-keyframes minutes {
  0% {
    -ms-transform: rotate(178deg); }
  to {
    -ms-transform: rotate(538deg); } }
@keyframes minutes {
  0% {
    transform: rotate(178deg); }
  to {
    transform: rotate(538deg); } }
/* Hour animation */
@-webkit-keyframes hours {
  0% {
    -webkit-transform: rotate(130deg); }
  to {
    -webkit-transform: rotate(490deg); } }
@-moz-keyframes hours {
  0% {
    -moz-transform: rotate(130deg); }
  to {
    -moz-transform: rotate(490deg); } }
@-o-keyframes hours {
  0% {
    -o-transform: rotate(130deg); }
  to {
    -o-transform: rotate(490deg); } }
@-ms-keyframes hours {
  0% {
    -ms-transform: rotate(130deg); }
  to {
    -ms-transform: rotate(490deg); } }
@keyframes hours {
  0% {
    transform: rotate(130deg); }
  to {
    transform: rotate(490deg); } }

/*# sourceMappingURL=style.css.map */
