body {
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#3F51B5), to(#E91E63));
    background: -webkit-radial-gradient(#3F51B5, #E91E63));
    background: radial-gradient(#3F51B5, #E91E63);
    height: 100vh;
}

h2 {
    font-size: 45px;
    color: #ffc201;
    display: block;
    line-height: 120px;
    text-align: center;
    margin: 0;
}

h2 span {
    color: #46d7af;
}

.border-wrapper {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    flex-wrap: wrap;
}

.border {
    flex: 0 0 auto;
}

.border1 {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #ffc201;
    border-bottom: 100px solid transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
}

.border2 {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #ffc201;
    border-bottom: 100px solid #46d7af;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
}

.border3 {
    border-left: 100px solid #46d7af;
    border-right: 100px solid #ffc201;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
}

.border4 {
    border-left: 100px solid #46d7af;
    border-right: 100px solid #ffc201;
    border-top: 100px solid #e60a6f;
    border-bottom: 100px solid transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
}

.border5 {
    border-left: 100px solid #46d7af;
    border-right: 100px solid #ffc201;
    border-top: 100px solid #e60a6f;
    border-bottom: 100px solid #633ea5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
}

.border6 {
    border-left: 100px solid #46d7af;
    border-right: 100px solid #e60a6f;
    border-top: 100px solid #ffc201;
    border-bottom: 100px solid #633ea5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
    position: relative;
    animation: rotate 8s linear infinite;
    transform-origin: 50%;
}
.multi_border {
    position: relative;
    width: 200px;
    height: 200px;
}
.shape1, .shape2, .shape3, .shape4 {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #ffc201;
    border-bottom: 100px solid transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 30px;
    position: absolute;
}
.shape1 {
    z-index: 9999;
}
.shape2 {
    border-top: 100px solid #e60a6f;
    z-index: 999;
    animation: shape2 4s linear forwards;
}
.shape3 {
    border-top: 100px solid #633ea5;
    animation: shape3 4s 4s linear forwards;
    z-index: 99;
}
.shape4 {
    border-top: 100px solid #46d7af;
    animation: shape4 4s 8s linear forwards;
}
@-webkit-keyframes shape2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes shape2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@-webkit-keyframes shape3 {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes shape3 {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@-webkit-keyframes shape4 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes shape4 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.border_rotate {
    position: relative;
}

.border_rotate span {
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    top: 123px;
    text-align: center;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 22px 12px white;
}
    .border7 {
        border-left: 100px solid #46d7af;
        border-right: 100px solid #46d7af;
        border-top: 100px solid #46d7af;
        border-bottom: 100px solid rgba(70, 215, 175, 0.75);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 30px;
        position: relative;
    }
    .border7 span {
        width: 50px;
        height: 50px;
        background: #46d7af;
        display: inline-block;
        position: absolute;
        left: -4px;
        border-radius: 50%;
        top: 1px;
    }
    .border8 {
        border-left: 100px solid #46d7af;
        border-right: 100px solid transparent;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        width: 0;
        height: 0;
        margin: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        left: 50px;
    }
    .border9 {
        border-left: 100px solid #46d7af;
        border-right: 100px solid #ffc201;
        border-top: 100px solid #e60a6f;
        border-bottom: 100px solid #46d7af;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 50%;
    }
    .border10 {
        border-left: 100px solid rgb(70, 215, 175);
        border-right: 100px solid rgba(255, 194, 1, 0);
        border-top: 100px solid #e60a6f;
        border-bottom: 100px solid #633ea5;
        width: 0;
        height: 0;
        margin: 30px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
